@import "Mixins";

*{
    box-sizing: border-box;
}

body {
    @include flexV;
    padding: 0;
    margin: 0;

    background-color: $color1a;
    color: $color2a;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $fontsize3;
    
    overflow: hidden;
}

.App{
    @include flexV;
    height: 100vh;
}


.header{
    &, &-whitespace, &-content{
        width: 100vw;
        height: $offset9;
    }

    &-content{
        position: fixed;
        top: 0;
        left: 0;
        @include flexB;
        padding: $offset2;

        box-shadow: 0 0 50px 0 #000;
    }
}

.main-container{
    @include flex;
    align-items: flex-start;
}


*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 999px;
    background-color: #8885;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff3;
    border-radius: 999px;
}

*::selection {
    color: var(--colorBody);
    background: var(--colorBright);
}